/* CSS code  */
body{
margin: 0px;
}
nav{
    background-color: #10243B;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}
li{
    display: inline;
    margin: 7px;
    padding: 0px;
}
ul #navbarlist{
    display: inline;
}
ul :nth-child(7){
    padding-right: 190px;
}
#hero{ 
    background-image: url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}