/* CSS code  */
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}
nav{
    background-color: #10243B;
    color: white;
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 0;
    right: 0;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li{
    display: inline;
    margin: 0px;
    padding: .2%;
}
ul #navbarlist{
    display: inline;
}
ul :nth-child(7){
    padding-right: 5%;
}
img{
    vertical-align: middle;
}
#hero{ 
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#c_logo{
    height: 152px;
    width: 152px;
    position: fixed;
    top: 200px;
    left: 20px;
}
#schoolname{
    font-size: 2.250em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;   
    color: #ffffff;
    text-shadow: 0px 2px 3px #333333;
    position: fixed;
    left: 175px;
    top: 225px;
}
#textunderschool{
    font-size: 1.125em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: italic;   
    color: rgb(255, 255, 255);
    text-shadow: rgb(51, 51, 51) 0px 2px 3px;
    position: fixed;
    left: 175px;
    top: 275px;
    }
#explorecchs{
    width: 100vw;
    height: 400px;
    text-align: center;
}
#exploreheader{
    width: 100vw;
    height: 81px;
    background-color: red;
}
#exploresection{
    width: 100vw;
    height: 319px;
    background-color: blue;
}
.explorebox{
    height: 315px;
    width: 25%;
    background-color: purple;
    float: left;
}
#hurricane{
    background-image: url(images/)
}
